{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Displaying profile photo -->
            {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="profile" class="img-thumbnail"
                style="border-radius: 50%;" height="200px" width="200px">
            {% else %}
            <p>No profile picture</p>
            {% endif %}
            {% if user == current_user %}
            <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" class="mt-3"
                enctype="multipart/form-data">
                <input type="file" name="photo" class="form-control" required style="border: none;">
                <input type="submit" value="Update Image">
            </form>
        </div>
        {% endif %}
        <div class="col-md-4">
            <!-- Displaying the username -->
            <h1>{{user.username | capitalize}}</h1>

            <!-- Displaying user bio -->
            {% if user.bio %}
            <p>{{user.bio}}</p>
            {% else %}
            <p>{{user.username | capitalize}} has no bio.</p>
            {% endif %}
            {% if user == current_user %}
            <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}