{% extends 'base.html' %} {%block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/profile1.css')}}" type="text/css"> {% endblock %}{%block
content%}
<div class="container profilebck">
    <br>
    <br>
    <div class=" container profileContent">
        <div class="row">
            <div class="col-md-4 mt-5">
                <!-- Displaying profile photo -->
                {% if user.profile_pic_path %}
                <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="profile" class="img-thumbnail"
                    style="border-radius: 50%;" height="200px" width="200px"> {% else %}
                <p>No profile picture</p>
                {% endif %} {% if user == current_user %}
                <form action="{{url_for('main.update_pic',uname=user.username)}}" method="post" class="mt-3"
                    enctype="multipart/form-data">
                    <input type="file" name="photo" class="form-control" required style="border: none;">
                    <input type="submit" value="Update Image" class="btn btn-outline-warning mt-3">
                </form>
            </div>
            {% endif %}
            <div class="col-md-4 mt-5 ms-5">
                <!-- Displaying the username -->
                <h1 class="username">{{user.username | capitalize}}</h1>

                <!-- Displaying user bio -->
                {% if user.bio %}
                <h4>{{user.bio}}</h4>
                {% else %}
                <h4>{{user.username | capitalize}} has no bio.</h4>
                {% endif %} {% if user == current_user %}
                <a class="btn btn-outline-warning" href="{{url_for('main.update_profile',uname=user.username)}}">Edit
                    profile</a> {% endif %}
            </div>
        </div>
        <iframe class="mt-5" name='iframe3' id="iframe3"></iframe> {%if current_user %}
        <div class="tabContainer mt-5">
            <div class="buttonContainer">
                <button onclick="showPanel(0,'#fff000')">Favourite Tracks</button>
                <button onclick="showPanel(1,'#f44336')">Playlist</button>
            </div>
            <div class="tabPanel">
                <div class="row mt-5">
                    <table class="table" id="favourites">
                        <thead>
                            <tr>
                                <th scope="col">Track</th>
                                <th scope="col">Preview</th>
                            </tr>
                        </thead>
                        {% for fav in favorite%}
                        <tbody>
                            <tr>
                                <td>{{fav.title}}</td>
                                <td>
                                    <a href="{{fav.preview}}" target="iframe3">
                                        <button class="playProfile" style="width:fit-content; height:fit-content;"><i
                                                class="fa fa-play"></i></button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="tabPanel">
                <div class="row mt-5">
                    <table class="table" id="playlist">
                        <thead>
                            <tr>
                                <th scope="col">Track</th>
                                <th scope="col">Preview</th>
                            </tr>
                        </thead>
                        {% for play in playlist%}
                        <tbody>
                            <tr>
                                <td>{{play.title}}</td>
                                <td>
                                    <a href="{{play.preview}}" target="iframe3">
                                        <button class="playProfile" style="width:fit-content; height:fit-content;"><i
                                                class="fa fa-play"></i></button>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endblock %}