#play {
    height: 3em;
    width: 3em;
}

.card {
    margin-right: 2em;
}

table {
    border: 2px solid rgb(202, 10, 228, 0.8);
    border-collapse: collapse;
}

th,
td {
    text-align: left;
}

iframe {
    margin-left: 40%;
    margin-right: 40%;
}

#search-artist:hover{
    box-shadow: 0 40px 60px -20px #969090;
    z-index: 100;
    opacity: 0.9;
    color: rgb(0, 183, 255);
}