*{
  font-size:small;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
body{
    background-color: rgb(0,0,0);
}

.card{
    margin-right: 2em;
}

#search-artist {
    margin-right: 2em;
    border-radius: 3%;
    color: black;
}

table {
    border: 2px solid rgb(202, 10, 228, 0.8);
    border-collapse: collapse;
}

th,
td {
    text-align: left;
}

iframe {
    margin-left: 40%;
    margin-right: 40%;
}

#search-artist:hover{
    box-shadow: 0 40px 60px -20px rgb(245, 82, 7);
    z-index: 100;
    opacity: 0.9;
    color: rgb(245, 82, 7);
    transition: 0.9s;
}

#iframe-search{
 box-shadow: 0 20px 40px -20px rgb(245, 82, 7);   
}

#search{
    color: whitesmoke;
}