{% extends 'base.html'%}{% import 'macros.html' as macro%} {% block content%}

<div class="bodyContents">
    <div class="header">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class=" container headerContent">
            <h1 class="text-center headingIndex"><i class="fa fa-music" aria-hidden="true"></i> MUSNETIC<i class="fa fa-music" aria-hidden="true"></i>

            </h1>
            <div class="index">
                <h1 class="text-center emphasisIndex">The Art Of Music</h1>

            </div>
            <hr>
            <form class="form-inline">
                <input type="text" name="artist_query" placeholder="Search for artist..." class="form-control searchbox">
                <input type="submit" value="Search" class="btn btn-light searchbutton">
            </form>
        </div>

    </div>
    <br>

    <div class="container-fluid">

        <div id="tracks-items" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Genre Controls-->
            <div class="controls-top" id="deluxecontrols">
                <iframe name='iframe1' id="iframe1"></iframe>

                <h1>
                    Top Songs
                    <a class="btn-floating" href="#tracks-items" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#tracks-items" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                </h1>
                <hr>

            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#tracks-items" data-slide-to="0" class="active"></li>
                <li data-target="#tracks-items" data-slide-to="1"></li>

            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                    {% for tracks in tracks %} {%if tracks.position
                    <=5 %} <div id="top-artists">
                        <div class="card shadow p-3 mb-5 bg-white rounded card cardindex" style="width: 24rem;">
                            <div class="card-body">
                                <p>Title: {{tracks.title}}</p>
                                <p>Artist: {{tracks.name.name}}</p>
                                <p>Position: {{tracks.position}}</p>
                                <img src="{{tracks.picture.picture_medium}}" style="width: 100%;height: auto;">
                                <br>

                                <br>
                                <div>
                                    <span class="iconPlay">
                                <a href="{{tracks.preview}}" target="iframe1">
                                <button class="play" style="width:fit-content; height:fit-content;"><i class="fa fa-play" ></i></button>
                                </a>
                                </span>
                                    <span class="icons">
                                <a href="{{url_for('main.favourite_top',id=tracks.id)}}">
                                    <i class="fas fa-heart"> </i>
                                </a>
                            </span>
                            <span>
                                <a href="{{url_for('main.playlist_chart',id=tracks.id)}}">
                                    <i class="fa fa-plus" style="color: rgb(245, 82, 7)" aria-hidden="true"></i>
                                </a>
                            </span>

                                </div>
                            </div>
                        </div>

                </div>
                {%endif%}{% endfor %}

            </div>
            <!--/.First slide-->



            <!--Second slide-->
            <div class="carousel-item">
                {% for tracks in tracks %} {%if tracks.position > 5 %}
                <div id="top-artists">
                    <div class="card shadow p-3 mb-5 bg-white rounded card cardindex" style="width: 24em;">
                        <div class="card-body">
                            <p>Title: {{tracks.title}}</p>
                            <p>Artist: {{tracks.name.name}}</p>
                            <p>Position: {{tracks.position}}</p>
                            <img src="{{tracks.picture.picture_medium}}" style="width: 100%;height: auto;"><br>

                            <br>
                            <div>
                                <span class="iconPlay">

                                <a href="{{tracks.preview}}" target="iframe1">
                                    <button class="play" style="width:fit-content; height:fit-content;"><i class="fa fa-play"></i></button>
                                </a>
                           </span>
                                <span class="icons">
                                <a href="{{url_for('main.favourite_top',id=tracks.id)}}">
                                    <i class="fas fa-heart"> </i>
                                </a>
                         </span>
                        <span>
                            <a href="{{url_for('main.playlist_chart',id=tracks.id)}}">
                                <i class="fa fa-plus" style="color: rgb(245, 82, 7)" aria-hidden="true"></i>
                            </a>
                        </span>

                            </div>

                        </div>
                    </div>
                </div>
                {%endif%}{% endfor %}
                <!--/.Second slide-->
            </div>
            <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
    </div>
    <!-- /genre  -->


    <div>

        {{macro.displayPlaylistList(gentracks)}}

    </div>
    <br style="clear: both">
    <div>

        {{ macro.displayGenreList(pop)}}


    </div>
</div>
{%endblock%}