<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>

                {% if current_user.is_authenticated %}
                <li><a class="nav-link" href="{{url_for('auth.logout')}}">Sign out</a></li><br> {% else %}
                <li><a class="nav-link" href="{{url_for('auth.login')}}">Sign in</a></li><br> {%endif%}
                </li>
            </ul>
        </div>
    </div>
</div>