{% extends 'base.html'%} {% block content%}
<h1 id="music">Enjoy Music
</h1>

<iframe name='myIframe'></iframe>
<div>
    <table style="width: 100%">
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Preview</th>
            <th>Favorite</th>
            <th>Comments</th>
        </tr>
        {%for track in tracks%}
        <tr>
            <td>{{track.title}}</td>
            <td>{{track.artist.name}}</td>
            <td>{{track.album.title|truncate(20)}}</td>
            <td><a href="{{track.preview}}" target="myIframe"><i class="fa fa-play"></i></a>
            </td>
            <td><i class="fa fa-heart"></i></td>
            <td>
                <i class="fa fa-comments"></i>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
<br> {%endblock%}