{%extends 'base.html'%} {%block content%} {% for artist in artists%}
<div class="col-sm-6 col-md-4">
    <div class="card shadow p-3 mb-5 bg-white rounded card">
        <div class="card-body">
            <h4 class="card-title">{{artist.title}}</h4>
            <p class="metadata">- {{artist.name.name}}</p>
            <img src="{{artist.picture.picture_medium}}" style="width: 100%;height: auto;"><br>
            <br>
            <div>
                <span>
                  <a href="{{artist.preview}}" target="_blank">
                  
                    <img src="{{url_for('static', filename='/images/play.png')}}" id="play">
                  </a>
                </span>


            </div>

        </div>
    </div>
</div>
{% endfor %} {%endblock%}